*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
  background:rgb(131, 131, 177) ;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 70%;
  border-radius: 5px;
  box-shadow: 1px 0px 30px 1px ;
border: 1px solid black;

}

.container__weather{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__inputs{
    height: 40%;
    width: 100%;
}

#container__inputs__forms{
    display: flex;
    flex-direction: column;
     width: 100%;
    


}
#city{
    
     margin: 0 80px 20px 80px;
    font-size: 30px;
    border: 1px solid rgb(131, 131, 177) ;
    border-radius: 3px;

}
#country{
    margin: 0 80px 20px 80px;
    font-size: 30px;
    border: 1px solid rgb(131, 131, 177) ;
    border-radius: 3px;

}
#enviar{
    margin: 0 80px 20px 80px;
    font-size: 30px;
    border: 2px solid black ;
    border-radius: 3px;
    background: green;
}